@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #1e1b26 0%, #1c1b1f 64.06%);
  min-height: 100svh;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
